* {
    margin: 0;
}
    
html {
    font-size: 62.5%;
}

body {
    font-family: "Spartan", sans-serif;
}

.dine {
    padding-top: 6.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./../images/homepage/hero-bg-desktop.jpg);
    color: #fff;
}

.dine .dine-container {
    height: 75rem;
    display: grid;
    grid-template-rows: min-content 1fr;
}
    
.dine-content {
    align-self: center;
}

.dine-heading {
    font-weight: 400;
    color: white;
    font-size: 6.4rem;
    line-height: 1.125;
}

.body-text {
    max-width: 45rem;
    margin-top: 2.4rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.667;
    color: white;
}
    
.button {
    margin-top: 4.2rem;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.143;
    letter-spacing: 2px;
    padding: 2.3rem 5.3rem;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    margin-right: 2px;
}

.main-container {
    background-color: white;
    background-repeat: no-repeat;
    background-image: url(./../images/patterns/pattern-curve-top-right.svg),
      url(./../images/patterns/pattern-curve-top-left.svg);
    background-position-y: 24.2rem, bottom;
    background-position-x: left, right;
}

.main-location {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7.5rem;
}

.main-location-image {
    transform: translateY(-7rem);
    width: 100%;
}

.main-location-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 48rem;
    margin-left: auto;
}

.divider {
    margin-bottom: 4.5rem;
}

.heading-two {
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.4;
    color: gunmetal;
}

.main-body-text {
    max-width: 45rem;
    margin-top: 2.4rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.667;
    color: gunmetal;
}

.main-food {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7.5rem;
}

.main-food-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 48rem;
}

.main-food-image {
    position: relative;
    transform: translateY(5rem);
    width: 100%;
}

.main-food-image .pattern-lines {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(65%);
}

.menu-container {
    padding: 15rem 0 10rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7.5rem;
    background-color: #111110;
}

.menu-content {
    max-width: 47rem;
}

.menu-content .heading-two {
    margin-bottom: 2rem;
    color: white;
}

.menu-item {
    display: grid;
    grid-template-columns: 16rem 1fr;
    grid-template-areas: "menu-image menu-text";
    column-gap: 1.5rem;
    padding: 2.5rem 0;
    border-bottom: 1px solid rgba(151, 151, 151, 0.15);
}

.menu-item-description {
    grid-area: menu-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.menu-item-description-title {
    font-size: 1.8rem;
    line-height: 1.667;
    color: white;
    font-weight: 700;
}

.menu-item-description-text {
    font-size: 1.5rem;
    line-height: 1.667;
    color: white;
    font-weight: 400;
}
  
.menu-item-image {
    grid-area: menu-image;
    width: 12.8rem;
}

.events-container {
    padding: 15rem 0 10rem 0;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
}
  
.reservation-container {
    padding: 8.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./../images/homepage/ready-bg-desktop.jpg);
}

.footer {
    padding: 7.5rem 0 5.5rem 0;
    color: white;
    z-index: 1;
    background-color: #111110;
}
.footer .container {
    display: grid;
    grid-template-columns: 30rem 1fr;
}
  
.footer-brand img {
    max-width: 10rem;
}

.footer-text {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem;
}

.footer-text-address span,
.footer-text-hours span {
    display: block;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2;
    white-space: nowrap;
}

.footer-text-address span .tel {
    color: white;
    display: block;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2;
    white-space: nowrap;
    text-decoration: none;
}